body {
  background-color: rgb(33, 211, 205);
  color; 
  text-align: center;
}

h1 {
  color: rgb(94, 7, 160);
  font-size: 500%;
  font-weight: bolder;
  text-shadow: 2px 2px 1px orangered;
}

.btn-submit {
  color: orangered;
  background-color: rgb(94, 7, 160) ;
  margin-top: 20px;
}

#output {
  color: blue;
  margin-top: 20px;
  font-style: italic;
}